body{
    background-color:lightblue;
    height:100vh;
    width:100vw;
    display:flex;
    overflow-x: hidden;
    align-items: center;
    gap:14px;
    flex-direction: column;
    justify-content: center;
}
#main{
    display:flex;
    flex-direction: column;
    gap:14px;
}
input{
    height:50px;
    width:260px;
    text-align: center;

}
button{
    height:40px;
    width:40vw;
    background-color: rgb(27, 148, 27);
    COLOR:WHITE;    
    display:flex;
    align-items: center;
    justify-content: center;
    transition: all;
    transition-duration: 0.15s;
    transition-property: initial;
    transition-timing-function: ease-in;
    transition-behavior: initial;
}
button:hover{
    background-color: rgb(2, 95, 2);
}